body{
    font-family: inter ,sans-serif;
}

#page-title {
    color: #FF6B82;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
}

.theme-clr {
    color: #FF6B82;
}

.secondary-clr {
    color: #C8C8C8;
}

.text-right {
    text-align: right;
}

.container {
    margin: 40px 450px;
}

#line {
    display: block;
    border-bottom: 1px solid #C8C8C8;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
}

#title {
    background-color: #fff;
    padding: 0px 10px;
}

.option {
    border: 1px solid #C8C8C8;
    padding: 22px 20px;
    margin-bottom: 20px;
}

.unit {
    accent-color: #ed5c72;
}

.unit-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.currency {
    background: #FF6B82;
    color: #fff;
    padding: 3px 7px;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.pl-10 {
    padding-left: 10px;
}

.ml-10 {
    margin: 10px;
}

.price {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}

.pt-5 {
    padding-top: 5px;
}

.price1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: #C8C8C8;
    text-decoration: line-through;
}

.wrapper {
    padding: 25px;
    padding-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}

select {
    width: 70px;
}

.add-to-cart {
    width: 100%;
    background: #FF6B82;
    color: #fff;
    border: none;
    padding: 10px 0px;
    border-radius: 4px;
    margin-top: 20px;
}

.hide {
    display: none;
  }

#absolute{
    position: absolute;
    top: -8px;
    right: 2px;
    color: #fff;
    padding: 2px 10px;
    border-radius: 0px 0px 4px 4px;
    background-color: #ff6b82;
}

.relative{
    position: relative;
}